jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=io.homeassistant.android
compiledPackageName=io.homeassistant.android
testPackageName=io.homeassistant.android
productFlavors=phone,standard
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/io.homeassistant.android/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/io.homeassistant.android/app/src/androidTestPhone/java/io/homeassistant/android/
