<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.homeassistant.android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".HassActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_name"
            android:parentActivityName=".HassActivity" />

        <activity
            android:name=".select.SelectEntityActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.ShortcutActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity="" />

        <receiver
            android:name=".location.LocationUpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    
                     <!-- emma updated -->
                    <activity 
                        android:label="EmmaInstrumentationActivity" 
                        android:name="io.homeassistant.android.EmmaInstrument.InstrumentedActivity"/>
                    <receiver android:name="io.homeassistant.android.EmmaInstrument.CollectCoverageReceiver">
                    <intent-filter>
                        <action android:name="evolutiz.emma.COLLECT_COVERAGE" />
                    </intent-filter>
                </receiver>
                 <!-- emma updated -->
                    </application>

                
                 <!-- emma updated -->
                 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
                 <instrumentation 
                    android:handleProfiling="true" 
                    android:label="EmmaInstrumentation" 
                    android:name="io.homeassistant.android.EmmaInstrument.EmmaInstrumentation" 
                    android:targetPackage="io.homeassistant.android"/>
                 <!-- emma updated -->
    
                </manifest>